#view-initial {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
  overflow: auto;
  height: calc(100% - 20px);
}

.accessibility-view-buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

#accessibility-visual-view {
  padding: 10px;
  overflow: auto;
  height: calc(100% - 20px);
}

#accessibility-content-profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 4px;
}

#accessibility-visual-view #accessibility-content-others-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 4px;
}
